body {
    background-color: #F4F6F8;
}

.card {
    border: 0 !important;
    padding: auto !important;
    margin: 0 !important;
}

.row {
    margin: 50px !important;
}

.icerik {
    margin-top: 3%;
}

.card-title {
    color: #587e7b;
}

.resimKapsayici {
    position: relative;

}


.resimKapsayici img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.resimYazisi {
    border-radius: 3px;
    width: 400px;
    height: 100px;
    text-align: center;
    background-color: #ffc105ba;
    position: absolute;
    left: 5%;
    top: 40%;
}

.resimKapsayici p {
    display: inline-block;
    color: white;
    font-size: 24;
    margin: 35px 0;

}

hr {
    margin: 0;
}

.card2 {
    display: flex;
    float: left;
}

.alt-kartlar {
    height: 400px;
    display: block;
}

.flex-container {
    display: flex;
}

.div1,
.div2 {
    flex: 1;
}

.yolla-form {
    text-align: center;
    margin: 200px auto;
    width: 400px;
}